* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.title {
  font-size: 1rem;
  text-align: center;
  margin: 1rem auto;
}

.container {
  min-height: 100vh;
  min-width: 400px;
  margin: 0 1rem;
}

.img-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
}

.img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .container {
    min-width: 601px;
  }
  .img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 2rem;
  }
  .container {
    min-width: 601px;
  }
  .img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }
  .container {
    min-width: 1201px;
  }
  .img-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}









/* LOADING ANIMATION */
@keyframes ldio-lcr1a9ka26 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-lcr1a9ka26 div {
  left: 45.5px;
  top: 4.5px;
  position: absolute;
  animation: ldio-lcr1a9ka26 linear 0.7042253521126761s infinite;
  background: #0a0a0a;
  width: 9px;
  height: 21px;
  border-radius: 4.5px / 10.5px;
  transform-origin: 4.5px 45.5px;
}.ldio-lcr1a9ka26 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.6628003314001657s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(2) {
  transform: rotate(21.176470588235293deg);
  animation-delay: -0.6213753106876553s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(3) {
  transform: rotate(42.35294117647059deg);
  animation-delay: -0.579950289975145s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(4) {
  transform: rotate(63.529411764705884deg);
  animation-delay: -0.5385252692626347s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(5) {
  transform: rotate(84.70588235294117deg);
  animation-delay: -0.49710024855012425s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(6) {
  transform: rotate(105.88235294117646deg);
  animation-delay: -0.4556752278376139s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(7) {
  transform: rotate(127.05882352941177deg);
  animation-delay: -0.4142502071251036s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(8) {
  transform: rotate(148.23529411764707deg);
  animation-delay: -0.3728251864125932s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(9) {
  transform: rotate(169.41176470588235deg);
  animation-delay: -0.33140016570008285s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(10) {
  transform: rotate(190.58823529411765deg);
  animation-delay: -0.2899751449875725s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(11) {
  transform: rotate(211.76470588235293deg);
  animation-delay: -0.24855012427506212s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(12) {
  transform: rotate(232.94117647058823deg);
  animation-delay: -0.2071251035625518s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(13) {
  transform: rotate(254.11764705882354deg);
  animation-delay: -0.16570008285004142s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(14) {
  transform: rotate(275.29411764705884deg);
  animation-delay: -0.12427506213753106s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(15) {
  transform: rotate(296.47058823529414deg);
  animation-delay: -0.08285004142502071s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(16) {
  transform: rotate(317.6470588235294deg);
  animation-delay: -0.041425020712510356s;
  background: #0a0a0a;
}.ldio-lcr1a9ka26 div:nth-child(17) {
  transform: rotate(338.8235294117647deg);
  animation-delay: 0s;
  background: #0a0a0a;
}
.loadingio-spinner-spinner-fqad5jn0tdu {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-lcr1a9ka26 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-lcr1a9ka26 div { box-sizing: content-box; }
/* generated by https://loading.io/ */